rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /strategies/{document=**} {
      allow read, write: if true;
    }
    match /tos_leaderboard/{document=**} {
      allow read: if true;
    }
    match /tos_teams/{document=**} {
      allow read: if true;
    }
    match /users/{document=**} {
      allow read: if true;
    }
    match /tos_invites/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}